[Unit]
Description=Minecraft Service

[Service]
WorkingDirectory=/opt/minecraft
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar /opt/minecraft/server.jar nogui
Restart=on-failure

[Install]
WantedBy=multi-user.target